<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="productlist" id="productlist">
            <module name="Magnat_ProductList"/>
        </route>
    </router>
</config>
